<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>

    <ul>
        <li th:each="item : ${cart.items}" th:text="${item.name}"></li>
    </ul>
    <h3 th:text="${total}"></h3>

</div>

</body>

</html>